/* @media only screen and (max-width: 800px){
    .res-row1{
        flex-direction: column;
    }
    .res-row2{
        flex-direction: column-reverse;
    }
    .res-row1-col1{
        width: 100%;
    }
    .res-row1-col2{
        width: 100%;
    }
    .res-row2-col1{
        width: 100%;
    }
    .res-row2-col2{
        width: 100%;
    }
    .navbar-hidden{
        font-size: 2em;
        display: flex;
        margin-right:20px;
    }
    .navbar{
        display: none;
    }
}
*/
@media only screen and (max-width: 992px){
    .logo a{
        font-size: 1.5em;
    }
    .navbar ul li a{
        font-size: 1em;
    }
    .banner{
        height: 700px;
        padding-top:350px;
    }
    .banner p{
        font-size: 4em;
        color:rgb(226, 204, 204);
    }
    h3{
        font-size: 1.5em;
    }
    .res-new{
        font-size: 0.8em;
    }
    .res-picture{
        height: 70%;
    }
    h4{
        font-size: 1em;
    }
    .menu-list{
        font-size: 0.85em;
        line-height: 2em;
    }
}

@media only screen and (max-width: 768px){
    .navbar{
        display: none;
    }
    .navbar-hidden{
        font-size: 2em;
        display: flex;
        margin-right:20px;
    }
    .banner{
        height: 650px;
        padding-top:325px;
    }
    .banner p{
        font-size: 3.5em;
        color:rgb(226, 204, 204);
    }
    .res-row1{
        flex-direction: column;
    }
    .res-row2{
        flex-direction: column-reverse;
    }
    .res-content{
        width: 100%;
    }
    .res-picture{
        width: 100%;
    }
    .menu-box{
        flex-direction: column;
    }
    .detail-menu{
        width: 100%;
    }
     
} 

@media only screen and (max-width: 576px){
    .navbar{
        display: none;
    }
    .navbar-hidden{
        font-size: 2em;
        display: flex;
        margin-right:20px;
    }
    .banner{
        height: 500px;
        padding-top:250px;
    }
    .banner p{
        font-size: 3em;
        color:rgb(226, 204, 204);
    }
    .res-row1{
        flex-direction: column;
    }
    .res-row2{
        flex-direction: column-reverse;
    }
    .res-content{
        width: 100%;
    }
    .res-picture{
        width: 100%;
        height: auto;
    }
    .menu-box{
        flex-direction: column;
    }
    .detail-menu{
        width: 100%;
    }
    
}