*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
header {
    width: 100%;
    background: antiquewhite;
}
section {
    /* padding-bottom: 6em; */
    padding-top: 6em;
    /* text-align: center; */
    margin: auto;
    width: 90%;
    /* background: aquamarine; */
}

footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: #3ed2d2;
}
header div {float: left;}

.logo-header {
    /* background: azure; */
    width: 30%;
}

.menu-header {
    /* background: antiquewhite; */
    width: 70%;
}
.menu-header ul {
    list-style-type: none;
}
.menu-header li {
    padding: 10px;
    display: inline-block;
}
.menu-header a {
    text-decoration: none;
}
.logo-header p {
    padding: 10px;
}
/* .img1-section1 {
    background: blueviolet;
} */

/* .img2-section1 {
    background: burlywood;
} */

/* .img3-section1 {
    background: #9e9e2c;
} */
/* .section1 {
    text-align: center;
    margin: auto;
    width: 90%;
}

.section1 div {
    display: inline-block;
}
.img1-section1 {
    height: 310px;
    width: 30%;
    background: blueviolet;
}
.img2-section1 {
    height: 310px;
    width: 30%;
    background: burlywood;
}
.img3-section1 {
    height: 310px;
    background: beige;
    width: 30%;
} */
.img1-section1,.img2-section1,.img3-section1 {
    padding: 3px;
    float: left;
    height: 300px;
    width: 33.33%;
  }
  .img1-section3,.img2-section3,.img3-section3 {
    float: left;
    height: auto;
    width: 33.33%;
  }
  .content1-img1,.content2-img1,.content1-img2,.content1-img3,.content2-img3 {
    padding: 10px;
}
.content1-img1-section3,.content2-img1-section3,.content3-img1-section3{
    padding: 10px;
}
.section1 {
    color: white;
    font-size: 10px;
}
.content1-img1,.content2-img1,.content1-img3,.content2-img3 {
    position: relative;
}

.text-section1 {
    position: absolute;
    top: 53%;
    padding: 11px;
}
.content1-img2 {
    position: relative;
}

.text-section {
    padding: 10px;
    position: absolute;
    bottom: 10%;
}
span {
    display: inline-flex;
}

.content1-section3 {
    padding: 10px;
    font-size: 13px;
    font-family: cursive;
}
.content1-section3 img {
    border-radius: 50px;
}
img {
    border-radius: 10px;
}
.text-footer {
    width: 100%;
}
.content1-img1,.content2-img1,.content1-img3,.content2-img3{
    width: 100%;
    height: 49%;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    margin-bottom: 5px;
    background-image : url('https://ggstorage.oxii.vn/Cache/Sites/OXII/Storage/Images/2019/5/31/728/choang-voi-so-tien-beo-bot-de-arsenal-di-cho-he-anh-1_1.jpg');
    /* background-image: url(/img/mesut-ozil-cay-dang-tu-gia-dtqg-o-emirates-anh-van-la-so-1_1537732835386967308.jpg); */
}
.content1-img2{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    margin-bottom: 5px;
    background-image : url('https://ggstorage.oxii.vn/Cache/Sites/OXII/Storage/Images/2019/5/31/728/choang-voi-so-tien-beo-bot-de-arsenal-di-cho-he-anh-1_1.jpg');
   /* background-image: url(/img/mesut-ozil-cay-dang-tu-gia-dtqg-o-emirates-anh-van-la-so-1_1537732835386967308.jpg); */
} 
.section3 a {
    color: blue;
    text-decoration: none;
}
.section3 button {
    border: none;
    padding: 5px;
    background: #6af700;
    border-radius: 10px;
}

.section2-text h1 {
    padding-top: 20px;
    display: inline-block;
    /* padding: 15px; */
    padding-bottom: 20px;
}
.text-section button {
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: bisque;
    border: none;
    padding: 5px;
    font-size: 10px;
}

