ul{
list-style-type: none;
}
li{
	float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.left{
	display: inline-block;
	width: 40%;
	height: 100%;
	float: left;
	padding-left: 10px;
}
.right{
	display: inline-block;
	width: 58%;
	height: 100%;
	float: right;
}
.grid-container {
  display: grid;
  grid-template-columns: 330px 600px 330px;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
  padding: 10px;
  margin-top: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end:  3;
 
}
.item1{
	background-image: url('img/1.jpg');

}
.item2{
	background-image: url('img/6.jpg');
	 background-repeat: no-repeat;
}
.item3{
	background-image: url('img/2.jpg');

}
.item4{
	background-image: url('img/4.png');
}
.item5{
	background-image: url('img/5.png');
}
.text{
	position: absolute;
    font-size: 11px;
    color: whitesmoke;
    padding-top: 118px;
    padding-left: 14px;
}
.text1 {
	position: absolute;
    font-size: 11px;
    color: whitesmoke;
	padding-top: 300px;
    padding-left: 300px;
}
#post-category{
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .6rem;
    text-transform: uppercase;
    

}
.container{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  background-color: #F8F9FA;
  padding: 10px;
  padding-left: 32px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}
.exc{
	font-size: 17px;
    text-align: left;
    padding-left: 55px;
    padding-top: 15px;
}
footer{
	background: #333333;
	height: 50px;
	color: #737373;
	padding: 10px;
	text-align: center;
}
