*{
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    text-decoration: none;
}
.ctn_nav{
    display: flex;
    height: 70px;
}

.dark{
    width: 100%;
    min-width: 500px;
    background-color: black;
    background-image: url(bg-1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}
.light{
    width: 100%;
    min-width: 500px;
    background-color: white;
    color: black;
}
.container{
    width: 90%;
    min-width: 500px;
    max-width: 1300px;
    margin: 0px auto;
}
.lage_text{
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-size: 3rem;
    text-align: center;
}
.lager_text{
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: thin double gray;
}
.midle_text{
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-size: 1.7rem;
    text-align: center
}
.new_container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.new1{
    width: 25%;
    min-width: 202px;
    margin: auto;
    padding: 1rem;
    color: black;
}
.new1 img[src*="team"]{
    width: 100%;
    border-radius: 10px;
}
.new2{
    width: 25%;
    min-width: 202px;
    background-color: white;
    padding: 1rem;
    color: black;
    margin: auto;
}
header{
    border-bottom: 1px solid gray;
    background-image: none !important;
    position: fixed;
    top: 0px;
    right: 0px;
}
.logo{
    display: block;
    width: 40%;
    height: 100%;
}
img[src="kt_logo.png"]{
    width: 200px;
    height: 70px;
    padding: 16px;
}
    

nav{
    width: 60%;
    height: 100%;
}
nav ul{
    float: right;
    display: flex;
    width: 500px;
    list-style: none;
    padding-inline-start: 0px;
}
nav li{
    display: block;
    width: 90px;
    padding: 26px 12px;
    border-radius: 5px;
}
nav a{
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
nav a:hover{
    color: blue;
}
#intro{
    margin-top: 70px;
    padding: 30px;
}
#intro p{
    width: 100%;
    text-align: center;
}
#intro i{
    font-size: 10em;
}
#intro span{
    color: blue;
}
.box{
    width: 25%;
    min-width: 202px;
    margin: auto;
}
.form_contasct, .contact{
    width: 50%;
}
footer{
    width: 100%;
    text-align: center;
}