*{
	margin:0;
}
header{
	background-color: #666666;
}
.header2{
	background-color: white;
}
.header3{
	background-color: #F6F6F6;
}
h2{
	background-color: #666666;
}
.a1{
	margin:10px;
}
.a2{
	margin: 10px;
}
.wrapper{
	display: flex;
}
