body{
	background-color: black;
}
.menuTren{
	width: auto;
}

.menuTren li{
	color: #FFC0CB;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	
}
.menuTren ul {
  background: #FA8072;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}
.menuTren a {
  text-decoration: none;
  color: #FFC0CB;
  display: block;
}
.menuTren a:hover {
  background: #FFC0CB;
  color: #333;
  width: 100px;
}
.timkiem {
	float: right;
	line-height: 100px;
	padding-right: 50px;
}
.baotrang{

}
.element-left{
	float: left;
	margin-left: 70px;
	margin-right: 10px;
}
.element-center{
	float: left;
	margin-right: 10px;
}
.element-right{
	float: left;
	margin-right: 10px;
}
.anh1-2{

}
.anh1-1{


}
.footer-left{
	margin-left: 70px;
}
.review1{
	color: #FA8072;
	width:  280px;
	height: 100px;
}
.footer1{
	float: left;
	margin-right: 10px;
}
.footer2{
	float: left;
	margin-right: 10px;
}
.footer3{
	float: left;
	margin-right: 10px;
}
.footer4{
	float: left;
}