/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 480px) {
    .logo-header{
        background: red;
        padding: 5px;
        font-size: auto;
        width: 100%;
    }
    .menu-header{
        display: none;

    }
    img.menu-reponsive {
        float: right;
        width: 32px;
        height: 36px;
        padding-top: 4px
    }
    .section2-content1{
        width: 100%;
    }
    .section2-content2{
        width: 100%;
    }
    .section3-content1{
        width: 100%;
    }
    .section3-content2{
        width: 100%;
    }
    .section3-content3{
        width: 100%;
    }
  } */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
        /* background-color: #f8f9fa; */
        display: flex;
        /* color: black; */
    }
    .logo-header{
        padding: 5px;
        font-size: auto;
        /* background: red; */
        width: 100%;
    }
    .menu-header li {
        /* text-align: center; */
        width: 100%;
    }
    .menu-header{
        /* background: red; */
        width: 100%;
        /* display: none;
        background: red; */
    }
    img.img-menu {
        margin-left: 10px;
        display: block;
        /* text-align: center; */
    }
    .logo-header i {
        float: right;
        /* width: 36px;
        height: 36px; */
        padding-top: 4px;
    }
    /* img.menu-reponsive {
        float: right;
        width: 36px;
        height: 36px;
        padding-top: 4px;
    } */
    .section2-content1{
        width: 100%;
    }
    .section2-content2{
        width: 100%;
    }
    .section3-content1{
        width: 100%;
    }
    .section3-content2{
        width: 100%;
    }
    .section3-content3{
        width: 100%;
    }
    /* .section2-text2{
        order: 1;
    }
    .section2-img2{
        order: 2;
    } */
    /* .logo-header {
        font-size: 10px;
        background: #3ed2d2;
        width: 100%;
    }
    
    .menu-header {
        display: none;
        font-size: 10px;
         background: #3ed2d2;
        width: 80%;
    }
    .logo-header img {
      width: 30px;
      height: 30px;
      float: right;
    }
    .text-section1,.text-section {
      position: absolute;
      top: 60%;
      padding: 13px;
      font-size: 7px
  }
  .content1-img2{
    width: 100%;
    height: 97%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
  } */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .logo-header{
        padding-top: 11px;
        font-size: 11px;
        width: 20%;
        /* background: blue; */
    }
    .menu-header{
        width: 80%;
        /* background: blue; */
        font-size: 11px;
    }
    .logo-header i {
        display: none;
    }
    /* .logo-header {
        background: #3ed2d2;
        width: 10%;
    }
    
    .menu-header {
        background: #3ed2d2;
        width: 90%;
    }
    .text-section1{
      position: absolute;
      top: 44%;
      padding: 13px;
      font-size: 8px
  } 
  .text-section {
    position: absolute;
    top: 63%;
    padding: 13px;
    font-size: 8px;
  }  */
  }
  @media only screen and (max-width: 768px) {
    /* .logo-header{
        font-size: 12px;
        width: 20%;
        background : yellow;
        padding-top: 5px;
    }
    .menu-header{
        width: 80%;
        font-size: 10px;
        background : yellow;
    }
    .menu-reponsive {
        display: none;
        width: 30px;
        height: 30px;
        float: right;
      } */
      
    /* .logo-header {
        background: #3ed2d2;
        width: 100%;
    }
    
    .menu-header {
      display: none;
        background: #3ed2d2;
        width: 70%;
    }
    .logo-header img {
      border: 50%;
      width: 37px;
      height: 37px;
      float: right;
      bottom: 50%;
    } */

  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .logo-header{
        width: 35%;
        /* background: hotpink; */
    }
    .menu-header{
        padding-top: 2px;
        width: 65%;
        /* background : hotpink; */
    }
    .menu-reponsive {
        display: none;
        width: 30px;
        height: 30px;
        float: right;
      }
    /* .logo-header {
        background: #3ed2d2;
        width: 48%;
    }
    
    .menu-header {
        background:  #3ed2d2;
        width: 52%;
    }
    .logo-header img {
      display: none;
      width: 30px;
      height: 30px;
      float: right;
    }
    .text-section1 {
      position: absolute;
      top: 53%;
      padding: 13px;
  }
  .text-section {
    position: absolute;
    top: 66%;
    padding: 13px;
  } */
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .logo-header{
        width: 30%;
        text-align: center;
        /* background: darkcyan; */
        font-size: 19px;
        /* vertical-align: middle; */
        padding-top: 13px;
    }
    .menu-header{
        width: 70%;
        font-size: 19px;
        /* text-align: center; */
        /* background : darkcyan; */
    }
    /* .logo-header{
      width: 60%;
    }
    .menu-header {
       background: #3ed2d2;
      width: 40%;
  }
    .logo-header img {
      display: none;
      width: 10px;
      height: 10px;
      float: right;
    } */
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* .logo-header{
        background: darkgreen;
    }
    .menu-header{
        background : darkgreen;
    } */
    /* .logo-header {
      width: 65%;
    }
    .menu-header {
       background: #3ed2d2;
      width: 35%;
  }
    .logo-header img {
      display: none;
      width: 10px;
      height: 10px;
      float: right;
    } */
  }
  /* @media screen and (max-width:600px) {
    .logo-header{
        background: darksalmon;
    }
    .menu-header{
        background: darksalmon;
    }
   
  } */
  /* @media screen and (max-width:600px) {
    .logo-header{
        background: darkslateblue;
    }
    .menu-header{
        background: darkslateblue;
    }
  } */
  
  
  /* .logo-header p {display: inline-block;} */