body{
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	width: 90%;
	margin: 0px auto; 
}

#header{
	background: white;
	height: 40px;
	display: block;
	color: black;
}

.material-icons{
	float: right;
	text-align: center;
	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
#menu a{
	float: right;
  	color: black;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}
#logo{
	text-align: center;
	float: left;
	padding: 14px 16px;
}
#main{
	display: flex;
	width: 1220px;
	margin: auto;
}
#main #left{
	width: 33.3%;
	height: 600px;
	background-color: white;
	float: left;
	min-height: 400px;
	position: relative;
  	text-align: center;
}
#main #mid{
	width: 33.3%;
	height: 600px;
	background-color: white;
	min-height: 400px;
}
#main #right{
	width: 33.3%;
	height: 600px;
	background-color: white; 
	float: right;
	min-height: 400px;
	padding-left: 4px;
}
.left1{
	display: flex;
}
.left1img img{
	width: 400px;
	margin: 10px;
	overflow: hidden;
}
.left1text{
	color: white;
	position: absolute;
	margin-top: 150px;
	text-align: left;
}
.left1text a{
	color: white;
	text-align: left;
	margin-left: 50px;
	text-decoration: none;
}
.left1text h6{
	color: #cccccc;
	margin: auto;
	padding-left: 50px;
}
.left2{
	display: flex;
}
.left2img img{
	width: 400px;
	margin: 10px;
	overflow: hidden;
}
.left2text{
	color: white;
	position: absolute;
	margin-top: 200px;
	text-align: left;
}
.left2text a{
	color: white;
	text-align: left;
	margin-left: 50px;
	text-decoration: none;
}
.left2text h6{
	color: #cccccc;
	margin: auto;
	padding-left: 50px;
}
.midimg img{
	width: 740px;
    margin: 10px;
    overflow: hidden
}
.mid{
	display: flex;
}
.midtext{
	color: white;
	position: absolute;
	top: 480px;
}
.midtext a{
	color: white;
	text-align: left;
	margin-left: 50px;
	text-decoration: none;
}
.midtext h6{
	color: #cccccc;
	margin: auto;
	padding-left: 50px;
}
.right1{	
	display: flex;
}
.right1img img{
	width: 400px;
	margin: 10px;
	overflow: hidden;
}
.right1text{
	color: white;
	position: absolute;
	margin-top: 250px;
	text-align: left;
}
.right1text a{
	color: white;
	text-align: left;
	margin-left: 50px;
	text-decoration: none;
}
.right1text h6{
	color: #cccccc;
	margin: auto;
	padding-left: 50px;
}
.right2{
	display: flex;
}
.right2img img{
	width: 400px;
    height: 185px;
    margin: 10px;
    overflow: hidden;
}
.right2text{
	color: white;
	position: absolute;
	margin-top: 138px;
	text-align: left;
}
.right2text a{
	color: white;
	text-align: left;
	margin-left: 50px;
	text-decoration: none;
}
.right2text h6{
	color: #cccccc;
	margin: auto;
	padding-left: 50px;
}
#mainlink{
	background: white;
	height: 40px;
	display: block;
	color: black;
}
#footer{
	background: white;
    width: 1200px;
    height: 2100px;
    margin: 0px auto;
    margin-top: 40px;
    font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	display: flex;
}
.footerleft{
	width: 33.3%;
    background: white;
    height: 100%;
    position: relative;
    text-align: center;
}
.footermid{
	width: 33.3%;
    background: white;
    height: 100%;
    position: relative;
    text-align: center;
}
.footerright{
    background: white;
    width: 33.3%;
    height: 100%;
    float: right;
}
.footerleft1img img{
	width: 380px;
    margin: 10px;
    overflow: hidden;
}
.footerleft1text a{
	display: block;
    color: black;
    margin: auto;
    text-decoration: none;
}
.footerleft1text h5{
	margin-top: 0px;
    text-align: left;
}
.footerleft1text h6{
	color: #5882FA;
    float: left;
    margin-top: 3px;
}
.footerleft1{
	margin-bottom: 80px;
}
.footerleft2 a{
    text-decoration: none;
    display: block;
    color: black;
}
.footerleft2 h5{
    text-align: left;
    margin-top: 0px;
}
.footerleft2text h6{
	color: #5882FA;
    float: left;
    margin-top: 3px;
}
.footermid1img img{
    width: 380px;
    height: 380px;
    margin: 10px;
    overflow: hidden;
}
.footermid1text a{
    display: block;
    color: black;
    text-decoration: none;
}
.footermid1text h5{
	text-align: left;
    margin: 10px;
}
.footermid1text h6{
	color: #5882FA;
    float: left;
}
.footermid2img img{
    width: 380px;
    height: 265px;
}
.footermid2text a{
	text-decoration: none;
    color: black;
    display: block;
}
.footermid2text h5{
    margin: auto;
    text-align: left;
}
.footermid2text h6{
	color: #5882FA;
    float: left;
}
.footerright1img img{
    width: 380px;
    margin: 10px;
    height: 380px
}
.footerright1text a{
	text-align: center;
    text-decoration: none;
    color: black;
}
.footerright1text h5{
    margin: auto;
    text-align: left
}
.footerright1text h6{
	color: #5882FA;
    float: left;
    margin-bottom: 10px;
}
.footerright2img img{
    width: 380px;
    margin: 10px;
    height: 250px
}
.footerright2text{
	margin-left: 10px;
}
}
.footerright2text h5{
    margin: auto;
    text-align: left
}
.footerright2text h6{
	color: #5882FA;
    float: left;
    margin-bottom: 10px;
}
.footerright2text a{
	text-align: center;
    text-decoration: none;
    color: black;