*{
	margin:0;
	max-width: 1920px;
}
body{
	font-family: 'Merienda';
	font-size: 18px;
	
}
a{
	text-decoration: none;
}
a:hover {
  background-color: yellow;
}
#header{
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #F0FFFF;
}
#imglogo{
	vertical-align: middle;
	margin: 10px;
}
nav{
	display: flex;
    height: 100%;
}
.nav_item{
	display: flex;
	list-style-type:  none;	
	float: left;	
	margin: 10px;
	padding: 15px;
}
#logo{
	padding: 5px;
	display: flex;
	height: 100%;
	width: 40%;
}
#textlogo{
	color: black;
}
.textnav{
    color: #00000073;
}
#textcenter{
	text-align: center;
	font-size: 30px;
	color: inherit;
    font-weight: 500;
}
#div_right1{
	margin-top: 15px;
	vertical-align: middle;
}
#div_left2{
	margin-top: 15px;
}
#empty{
	margin-top: 100px;
}
#textcenter2{
	text-align: center;
	font-size: 30px;
	color: inherit;
    font-weight: 500;
}
#empty2{
	margin-top: 100px;
}

#main0{
	margin-left: 20%;
	margin-right: 20%;
	max-width: 80%;
}
#main2{
	display: flex;
	padding: 5px;
}
#main3{
	display: flex;
	padding: 5px;
	vertical-align: middle;
}
#main1{
	display: flex;
	padding: 10px;
	margin: 20px;
		
}
@media only screen and (max-width: 920px){
	#main2{
		display: block;
	}
	#main3{
		display: block;
	}
}


	
