*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:16px;
}
body{
    font-family: 'Droid Sans', serif;
}
/* -----------HEADER----------- */
header{
    width: 100%;
    margin-bottom: 30px;
    /* background-color: aquamarine; */
}
.top-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74A044;
}
.icon{
    font-size: 1rem;
    color: white;
    margin-left: 45px;
}
.icon i{
    margin-right: 5px;
}
.search{
    margin-right: 45px;
    font-size:1rem;
    color: white; 
}
.search span{
    margin-left: 5px;
}
i:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.4s;
}

/* --------------mid header------------ */
.mid-header{
    width: 50%;
    margin:0 auto;
    height: 160px;
    display: flex;
    justify-content:center;
    align-items:center;
    /* background-color: blanchedalmond; */
}
.bot-header{
    width: 50%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    padding-top:20px;
    /* background-color: azure; */
}

.nav-item{
    display: inline-block;
    
}
.nav-item a{
    color:#121212;
    font-size: 0.93rem;
    text-decoration:none;
    padding-right: 10px;

}
.nav-item a:hover{
    color: rgb(165, 240, 84);
}

/* ------------MAIN------------- */
main{
    width: 100%;
    height: auto;
    /* background-color: brown; */
}
/* ----------SECTION 1----------- */
.section-1{
    width: 100%;
    /* height: auto; */
    height: 530px;
    margin-bottom: 60px;
    /* display: flex;
    justify-content: space-around; */
    background-color: rgb(199, 78, 22);
}
.section-1-small{
    width: 33.33%;
    height: auto;
    /* height: 530px; */
    float: left;
    padding:0 5px;
    position: relative;
    transition: transform .5s ease;
    /* overflow: hidden; */
}

.section-1-small-img{
    width: 100%;
    /* height: 100%; */
    z-index: 1;  
}
.effect{
    
    width: 100%;
    height: 100%;
    
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    /* background-color: aqua; */
    background-image: -webkit-linear-gradient(top, #ffffff00 50%, #000000eb 100%);
  
}

.section-1-small-content{
    position:absolute;
    left: 25px;
    bottom:25px;
    color:white;
    z-index: 3;

}
.btn1{  
    color:white;
    padding:3px 15px;
    border-radius: 3px;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #74A044;
}
.section-1-small-title{
    color:white;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    margin-top:10px;
    margin-bottom: 10px;
}
.section-1-small-title:hover{
    text-decoration: underline;
}
.section-1-small-time{
    font-size: 0.7rem;
    font-weight: 700;
}


/* ----------SECTION 2----------- */
.section-2{
    width: 60%;
    /* height: 1000px; */
    margin: 0 auto;
    display: flex;
    background-color: teal;
}
/* -----------SECTION 2 LEFT------------ */
.section-2-left{
    width: 76%;
    /* height: 1000px; */
    background-color: aliceblue;
}
.box-row{
    width: 100%;
    height: 255px;
    display: flex;
    margin-bottom: 30px;
}
.box-row-pic{
    width: 32%;
    height: 255px;
    /* background-color: #74A044; */
}
.box-row-pic img{
    width: 100%;
    height: 100%;
}
.box-row-content{
    width: 68%;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: aqua; */
}
.bow-row-title{
    display: inline-block;
    font-size: 1.7rem;
    color:#111111;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top:20px;
    margin-bottom: 20px;
}
.bow-row-title:hover{
    text-decoration: underline;
}
.box-row-content p{
    font-size: 1rem;
    color:#5e5e5e;
    line-height: 26px;
}
/* .fas{
    font-size: 0.7rem;
    font-weight: 700;
} */
.view-icon{
    font-size: 0.7rem;
    font-weight: 700;
    margin-right: 10px;
}
.banner{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.next-page{
    margin-bottom: 80px;
}
.btn2{  
    color:white;
    padding:10px 15px;
    font-size: 1.2rem;
    margin-right: 5px;
    text-decoration: none;
    background-color: #74A044;
}

.section-2-right{
    width: 24%;
    height: 1000px;
}
/* -------------FOOTER---------- */
footer{
    width: 100%;
    height: 500px;
    background-color: black;
}