*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ffffff;
    font-family: 'Livvic', sans-serif;
}
a,ul{
    text-decoration: none;
    list-style: none;
}
.block_align_center{
    width: 1200px;
    margin: 0px auto;
}
header{
    width: 100%;
    background-color:white;
}
header #logo{
    padding: 15px;
    width: 200px;
    display: inline-block;
    font-style: italic;
}
header #logo span{
    font-size: 27px;
    font-weight: lighter;
    color: black;
}
header nav#nav_header{
    width: 540px;
    display: block;
    float: right;
}
nav#nav_header ul{
    display: flex;
    list-style: none;
}
nav#nav_header ul li{
    display: block;
    padding: 20px 10px;
    border: none;
}
nav#nav_header ul li a{
    text-decoration: none;
    font-family: tahoma;
    font-size: 19px;
    color: black;
}
nav#nav_header ul li a:hover{
    color: #142ec4;
}
#categocy{
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0px;
    margin-bottom: 50px;
}
#cate_info{
    width: 1200px;
    margin: 0px auto;
}
#categocy p{
    width: 80%;
    font-family: 'Livvic', sans-serif;
    font-size: 22px;
    font-style: italic;
    padding: 10px 20px;
    font-weight: lighter;
}
#categocy h3{
    width: 60%;
    font-family: 'Livvic', sans-serif;
    font-size: 2rem;
    font-style: italic;
    padding: 10px 20px;
}
#categocy h6{
    width: 60%;
    font-family: 'Livvic', sans-serif;
    font-size: 22px;
    font-style: italic;
    padding: 10px 20px;
    font-weight: lighter;
}
.section0{
    width: 100%;
    background-color: #f8f9fa;
}
.section00{
    height: 500px;
    display: flex;
    padding: 30px 0px;
    overflow: hidden;
    justify-content: space-between;
}
.section00 #section1{
    width: 330px;
}
.section00 a{
    display: block;
    margin-bottom: 20px;
    
}
.section00 a p{
    padding: 0px 15px;
    color: gray;
    padding-bottom: 20px;
}
.section00 a h3{
    padding: 0px 15px;
    color: white;
}
.section00 #section1 #section11,.section00 #section3 #section11 {
    height: 230px;
    background-image: url(./img_kt2.jpg);
    background-size: cover;
    border-radius: 10px;
    display: table-cell;
    vertical-align: bottom;
}
.section00 #section2 .section21{
    height: 480px;
    background-image: url(./img_kt2.jpg);
    background-size: cover;
    border-radius: 10px;
    display: table-cell;
    vertical-align: bottom;
}
.section00 #section2{
    width: 491px;
}
.section00 #section3{
    width: 330px;
}
.section{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.43);
}
.section h3{
    width: 1000px;
    padding-top: 20px;
}
.section .new{
    width: 370px;
    margin-right: 30px;
    margin-top: 30px;
}
#img_new{
    border-radius: 5px;
    width: 100%;
}
.section .new h2{
    font-size: 18px;
    padding: 10px 5px;
}
.section .new p#new_text{
    font-size: 16px;
    padding: 10px 5px;
}
.section .new p#more a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
}
#link_iterm{
    padding: 1px;
    margin: 15px 5px;
    border: 1px solid green;
    background-color: green;
    color: white;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
}
.persion{
    width: 100%;
    display: flex;
    margin: 10px 5px;
}
.persion #img_pertion{
    width: 10%;
    border-radius: 50%;
}
.persion p,.persion p a{
    text-decoration: none;
    font-size: 13px;
    color: gray;
    margin: auto 10px;
}
.number_list{
    width: 500px;;
    margin: 20px auto;
}
.number_list span{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 1px;
    background-color: #142ec4;
    border-radius: 50%;
    text-align: center;
    color: wheat;
}
.number_list span#sp1,.number_list span#sp5{
    background-color: white;
    color: black;

}
footer{
    width: 100%;
    display: flex;
    background-color: #333333;
    flex-wrap: wrap;
    padding: 50px 0px;
}
footer #about{
    width: 25%;
    padding: 0px 120px;
}
footer #about h4{
    padding: 20px 0px;
    color:white;
    font-size: 20px;
}
footer #about p{
    padding: 20px 0px;
    color: #737373;
}
footer #nav_footer{
    width: 25%;
    padding: 50px 0px;
    color: #737373;
}
footer #nav_footer ul{
    display: flex;
    flex-wrap: wrap;
}
footer #nav_footer ul li{
    display: inline-block;
    width: 50%;
}
footer a{
    color: #737373;
}
footer a:hover{
    color: white;
}
footer #link{
    width: 24%;
}
footer #link h4{
    color: white;
    font-size: 20px;
}
footer #link ul{
    display: flex;
}
footer #link ul li{
    display: block;
    width: 20px;
    font-size: large;
    padding: 8px;
}
footer #end{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #737373;
}
footer #end i{
    color: red;
}
